@import '~@angular/material/_theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-teal);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
