.notification-success {
    background-color: #d0e9c6 !important;
    .mat-simple-snackbar {
      color: #3c763d;
    }
  }
  
  .notification-info {
    background-color: #d9edf7 !important;
    .mat-simple-snackbar {
      color: #31708f;
    }
  }
  
  .notification-warning {
    background-color: #faf2cc !important;
    .mat-simple-snackbar {
      color: #8a6d3b;
    }
  }
  
  .notification-error {
    background-color: #f2dede !important;
    .mat-simple-snackbar {
      color: #a94442;
    }
  }