<form [formGroup]="postForm" (ngSubmit)=submit(postForm)>
    <h1 mat-dialog-title *ngIf="data.post.id">Edit post</h1>
    <h1 mat-dialog-title *ngIf="!data.post.id">Create post</h1>
    <div class="container">
        <mat-form-field>
            <input name="title" formControlName="title" matInput placeholder="Title">
            <mat-error *ngIf="postForm.controls['title'].invalid">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea name="body" rows="5" formControlName="body" matInput placeholder="Body"></textarea>
            <mat-error *ngIf="postForm.controls['body'].invalid">Required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select name="userId" formControlName="userId" placeholder="User">
                <mat-option *ngFor="let user of data.users" [value]="user.id">{{user.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="postForm.controls['userId'].invalid">Required</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-button type="submit" [disabled]='postForm.invalid' cdkFocusInitial color="primary">Save</button>
    </div>
</form>