<div mat-dialog-content>
    <p>Are you sure you want to delete the post?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="true" color="warn" cdkFocusInitial>Yes</button>
</div>