<mat-toolbar color="primary">
  <mat-icon class="bar-icon">verified_user</mat-icon>
  <span>Test Post List Application</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="over">
    <p>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="">close</mat-icon>
      </button>
    </p>
    <mat-nav-list class="list">
      <mat-list-item [routerLink]="['/posts']" [routerLinkActive]="['active']">
        <mat-icon mat-list-icon>forum</mat-icon>
        <span>Posts</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>people_outline</mat-icon>
        <span>Users</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>store</mat-icon>
        <span>Companies</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="nav-button">
      <p>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="">menu</mat-icon>
        </button>
      </p>
    </div>
    <div class="content"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>