.bar-icon {
    padding: 0 14px;
  }

.container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

.list {
    width: 200px;
    .active {
        background-color: #ddd
    }
}

.nav-button {
    float: left;
    margin-right: 50px;
}

.content {
    margin-top: 25px;
    margin-left: 100px; 
}