<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner"></mat-spinner>
</div>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <mat-card fxFlex="0 1 calc(33.3% - 60px)" fxFlex.lt-md="0 1 calc(50% - 60px)" fxFlex.lt-sm="100%" *ngFor="let post of posts | paginate: { itemsPerPage: 9, currentPage: p }"
    class="card">
    <mat-card-header>
      <img mat-card-avatar src="./assets/user.png">
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.user?.name}} ({{post.user?.email}})</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{post.body}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="openEdit(post)">UPDATE</button>
      <button mat-button color="warn" (click)="openDialog(post)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="pagination-container">
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<div class="button-container">
  <button mat-fab color="primary" (click)="openEdit()">
    <mat-icon aria-label="">add</mat-icon>
  </button>
</div>