.card {
    margin: 20px;
  }

.button-container {
    position: fixed;
    bottom: 50px;
    right: 100px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0 0 0;
    
    .pagination /deep/ .ngx-pagination .current {
        background: #3f51b5;
    }
}

.spinner-container {
    position: absolute;
    z-index: 400;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80px;
    }
}